POSTGRES_DB=<postgres_db>
POSTGRES_DB_PORT=<potgres_port>
POSTGRES_USER=<postgres_user>
POSTGRES_PASSWORD=<postgres_password>
POSTGRES_HOST=<postgres_host>
DATABASE_URL=<db_url>
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
ADMIN_EMAIL=admin@admin.com
STRIPE_PUBLISHABLE_KEY=<stripe_key>
STRIPE_SECRET_KEY=<secret_key>
STRIPE_WEBHOOK_SECRET=<stripe_webhook_secret>
REDIS_HOST=<redis_host>
SENDER_EMAIL=<celery_sender_email>
SENDER_PASSWORD=<sender_password>
SECRET_KEY=<secret_key>
